@CHARSET "UTF-8";
/* 所有iframe内容去除横向滚动条 */
html {overflow-x:hidden;}
.body-content{padding-left:10px;padding-right:10px;}
.dataForm {margin-top:60px;}
.dataFormSave {float:right;}
.back {float:right;margin-left:5px;}